// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$font-family-base: 'Lato', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Copy text color
/// @type Color
$text-color: #555459 !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Containers maximum width
/// @type Length
$max-width: 1180px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

// Icon font path for bootstrap
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
