<div id="client-ui">
  <header>
    <div class="app-header">
      Lottery Simulator
    </div>
    <lottery-header
      active-lottery="$ctrl.activeLottery"
      >
    </lottery-header>
  </header>
  <nav>
    <lottery-list
      lotteries="$ctrl.lotteries"
      active-lottery="$ctrl.activeLottery"
      on-lottery-selected="$ctrl.lotterySelected($event);"
      >
    </lottery-list>
  </nav>
  <main>
    <controls
      on-simulator-run="$ctrl.simulatorRun()">
    </controls>
    <p style="font-size: 24px; padding-left: 20px;">
      <span
        style="margin-right: 8px;"
        ng-repeat="number in $ctrl.drawing.common"
        >
        {{ number }}
      </span>
      <span
        style="margin-left: 30px;"
        ng-repeat="number in $ctrl.drawing.special"
        >
        {{ number }}
      </span>
    </p>
    <ticket
      active-lottery="$ctrl.activeLottery"
      on-line-add="$ctrl.lineAdded($event)"
      picks="$ctrl.picks"
      >
    </ticket>
    <results
      drawing="$ctrl.drawing"
      prizes="$ctrl.activeLottery.prizes"
      >
    </results>
  </main>
</div>
