<div class="stats">
  <table>
    <thead>
      <tr>
        <th>
          Money Spent
        </th>
        <th>
          Money Won
        </th>
        <th>
          Profit / Loss
        </th>
        <th>
          Return
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          $1000
        </td>
        <td>
          $1000
        </td>
        <td>
          $1000
        </td>
        <td>
          $1000
        </td>
      </tr>
    </tbody>
  </table>
</div>
