<div class="stats">
  <table>
    <thead>
      <tr>
        <th>
          Money Spent
        </th>
        <th>
          Money Won
        </th>
        <th>
          Profit / Loss
        </th>
        <th>
          Return on dollar
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ $ctrl.calculateMoneySpent() | currency : '$' : 0 }}
        </td>
        <td>
          {{ $ctrl.calculateMoneyWon() | currency : '$' : 0 }}
        </td>
        <td>
          {{ $ctrl.calculateMoneyWon() - $ctrl.calculateMoneySpent() | currency : '$' : 0 }}
        </td>
        <td>
          {{ $ctrl.calculateReturn() | currency : '$' : 2 }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
