<div class="controls">
  <button
    ng-click="$ctrl.onSimulatorRun()"
    ng-disabled="$ctrl.running"
    >
    Draw Once
  </button>
  <button
    ng-click="$ctrl.startSimulator()"
    ng-if="!$ctrl.running"
    >
    Run Simulator
  </button>
  <button
    ng-click="$ctrl.onSimulatorStop()"
    ng-if="$ctrl.running"
    >
    Stop Simulator
  </button>
  <label>
    <input type="radio" ng-model="$ctrl.speed" value="max">
    Max
  </label>
  <label>
    <input type="radio" ng-model="$ctrl.speed" value="fast">
    Fast
  </label>
  <label>
    <input type="radio" ng-model="$ctrl.speed" value="slow">
    Slow
  </label>
</div>
