<div class="prize-item">
  <span class="col col-sm">
    <input type="checkbox">
  </span>
  <span class="col col-md">
    {{ $ctrl.prize.common }} + {{ $ctrl.prize.special }}
  </span>
  <span class="col col-lg">
    {{ $ctrl.prize.prize | currency : '$' : 0 }}
  </span>
  <span class="col col-lg">
    1 in {{ $ctrl.prize.chances | number }}
  </span>
  <span class="col col-md">
    {{ $ctrl.prize.won }}
  </span>
  <span class="col col-lg">
    {{ $ctrl.prize.won ? '1 in ' + ($ctrl.numberOfDraws / $ctrl.prize.won) : 0 }}
  </span>
</div>
