body {
  height: 100%;
  width: 100%;
  min-width: 768px;
  background: #fff;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

body:not(.loading) {
  #client-ui {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
  }
}

header {
  position: fixed;
  width: 100%;
  .app-header {
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1rem;
    width: 13.75rem;
  }
}

nav {
  background: #4d394b;
  padding-top: 70px;
  width: 13.75rem;
}

#client-body {
  &:not(.onboarding):before {
    position: absolute;
    z-index: 98;
    left: 220px;
    right: 0;
    height: .4375rem;
    border-bottom: .0625rem solid #e8e8e8;
    background: #fff;
    content: '';
  }
}
