<!doctype html>
<html ng-app="root" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <title>Lottery Simulator</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <root>
      <span class="loader">Loading...</span>
    </root>
    <% if (webpackConfig.metadata.isDevServer) { %>
    <script src="/webpack-dev-server.js"></script>
    <% } %>
    <div id="devTools"></div>
  </body>
</html>
